1 VERSIONINFO
FILEVERSION     @TSE_RTSQ_REST_PRODUCT_VERSION_MAJOR@,@TSE_RTSQ_REST_PRODUCT_VERSION_MINOR@,@TSE_RTSQ_REST_PRODUCT_VERSION_PATCH@,0
PRODUCTVERSION  @TSE_RTSQ_REST_PRODUCT_VERSION_MAJOR@,@TSE_RTSQ_REST_PRODUCT_VERSION_MINOR@,@TSE_RTSQ_REST_PRODUCT_VERSION_PATCH@,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "@PRODUCT_COMPANY_NAME@"
            VALUE "FileDescription", "@TSE_RTSQ_REST_PRODUCT_DESCRIPTION@"
            VALUE "FileVersion", "@TSE_RTSQ_REST_PRODUCT_VERSION@"
            VALUE "InternalName", "@TSE_RTSQ_REST_PRODUCT_INTERNAL_NAME@"
            VALUE "LegalCopyright", "@PRODUCT_COPYRIGHT@"
            VALUE "OriginalFilename", "@TSE_RTSQ_REST_BIN_NAME@.exe"
            VALUE "ProductName", "@TSE_RTSQ_REST_PRODUCT_NAME@"
            VALUE "ProductVersion", "@TSE_RTSQ_REST_PRODUCT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
2 ICON "app-icon.ico"

